{%load static%}
<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">
  <head>
    <link rel="icon" href="{%static 'images\icon.ico' %}">
    
    <!-- Site Title-->
    <title>Summerfield University</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="{%static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,700%7CMerriweather:400,300,300italic,400italic,700,700italic">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-md-device-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-stick-up-offset="210" data-xl-stick-up-offset="85" data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                <h4 class="panel-title veil-md">Pages</h4>
                <!-- RD Navbar Right Side Toggle-->
                <button class="rd-navbar-top-panel-toggle veil-md" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
                <div class="rd-navbar-top-panel">
                  <div class="rd-navbar-top-panel-left-part">
                    <ul class="list-unstyled">
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-phone text-middle"></span></div>
                          <div class="unit-body">0900-78601,</a> <a class="reveal-block reveal-md-inline-block" href="tel:#">0900-35801</a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle"></span></div>
                          <div class="unit-body">ABC Road 75970 KHI PK</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-email-open text-middle"></span></div>
                          <div class="unit-body">nazim.mandviwala98@gmail.com</a></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="rd-navbar-top-panel-right-part">
                    <div class="rd-navbar-top-panel-left-part">
                      <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                        <div class="unit-left"><span class="icon mdi mdi-login text-middle"></span></div>
                        <div class="unit-body"><a href="login-register.html">Login/Register</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-menu-wrap clearfix">
                <!--Navbar Brand-->
                <div class="rd-navbar-brand"><a class="reveal-inline-block" href="index.html">
                    <div class="unit unit-xs-middle unit-xl unit-xl-horizontal unit-spacing-xxs">
                      <div class="unit-left"><img width='170' height='172' src="{%static 'images/logo.png' %}' alt=''/>
                      </div>
                      <div class="unit-body text-xl-left">
                        <div class="rd-navbar-brand-title"><h5 style="color: #5BBC2E;font-weight: bold;">Summer<span style="color: #000031;">Field</span></h5></div>
                        <div class="rd-navbar-brand-slogan">University</div>
                      </div>
                    </div></a></div>
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <div class="rd-navbar-mobile-header-wrap">
                      <!--Navbar Brand Mobile-->
                      <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='136' height='138' src="{%static 'images/logo.png' %}" alt=''/></a></div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li><a href="index.html">Home</a>
                      </li>
                      <li ><a href="#">About</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="history.html">History</a></li>
                                <!--  <li><a href="people.html">People</a></li>
                                  <li><a href="team-member-profile.html">Team Member Profile</a></li> -->
                        </ul>
                      </li>

                      <li ><a href="#">Academic</a>
                        <div class="rd-navbar-megamenu">
                          <div class="row section-relative">
                            <ul class="col-lg-3">
                              <li>
                                <h6>Academics</h6>
                                <ul class="list-unstyled offset-lg-top-20">
                                  <li><a href="academics.html#undefined1">Undergraduate Study</a></li>
                          <li><a href="academics.html#undefined2">Graduate &amp; Professional Study</a></li>
                          <li><a href="academics.html#undefined4">Global Education</a></li>
                          <li><a href="academics.html#undefined5">Summer Session</a></li>
                          <li><a href="academics.html#undefined6">Non-Degree Offerings</a></li>
                          </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-3">
                              <li>
                                <h6>Faculty</h6>
                                <ul class="list-unstyled offset-lg-top-20">
                                  <li><a href="cs-faculty.html">Computer Science</a></li>
                                <li><a href="mt-faculty.html">Mechatronic</a></li>
                                <li><a href="llb-faculty.html">LLB</a></li>
                                <li><a href="ms-faculty.html">Media Science</a></li>
                                <li><a href="other-faculty.html">Other Faculty</a></li>
                            
                                </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-3">
                              <li>
                                <h6>Admission</h6>
                                <ul class="list-unstyled offset-lg-top-20">
                                  <li><a href="#undefined1">Admission Requirement</a></li>
                                  <li><a href="#undefined2">Admission Schdule</a></li>
                                  <li><a href="#undefined3">Fees Structure</a></li>
                                <li><a href="#undefined4">Scholarships</a></li>
                                </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-3">
                              <li>
                                <h6>Resources</h6>
                                <ul class="list-unstyled offset-lg-top-20">
                                  <li><a href="internship.html">Internship & Placement</a></li>
                                  </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                                <li><a href="#">Campus</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="grid-gallery.html">Grid Gallery</a>
                          </li>
                          <li><a href="grid-without-padding-gallery.html">Grid Without Padding Gallery</a>
                          </li>
                          <li><a href="masonry-gallery.html">Masonry Gallery</a>
                          </li>
                          <li><a href="cobbles-gallery.html">Cobbles Gallery</a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="event-page.html">Events</a>
                      </li>
                      <li><a href="contacts.html">Contacts</a>
                      </li>
                    </ul>
                    <!--RD Navbar Mobile Search-->
                    <div class="rd-navbar-search-mobile" id="rd-navbar-search-mobile">
                      <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" method="GET">
                        <div class="form-group">
                          <label class="form-label" for="rd-navbar-mobile-search-form-input">Search...</label>
                          <input class="rd-navbar-search-form-input form-control form-control-gray-lightest" id="rd-navbar-mobile-search-form-input" type="text" name="s" autocomplete="off"/>
                        </div>
                        <button class="icon fa-search rd-navbar-search-button" type="submit"></button>
                      </form>
                    </div>
                  </div>
                </div>
                <!--RD Navbar Search-->
                <div class="rd-navbar-search"><a class="rd-navbar-search-toggle mdi" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                  <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                    <div class="form-group">
                      <label class="form-label" for="rd-navbar-search-form-input">Search</label>
                      <input class="rd-navbar-search-form-input form-control form-control-gray-lightest" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                      <div class="rd-search-results-live" id="rd-search-results-live"></div>
                    </div>
                  </form>
                </div>
                <!--RD Navbar shop-->
                <!--<div class="rd-navbar-cart"><span class="icon fa-shopping-cart"></span><a class="inset-left-10" href="shopping-cart.html">2</a></div>-->
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Classic Breadcrumbs-->
      <section class="breadcrumb-classic context-dark">
        <div class="shell section-30 section-sm-top-70 section-sm-bottom-60">
          <h1 class="veil reveal-sm-block">Admission</h1>
          <div class="offset-sm-top-35">
            <ul class="list-inline list-inline-lg list-inline-dashed p">
              <li><a href="/">Home</a></li>
              <li>Academics</li>
              <li>Admission</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Page Content-->
      <main class="page-content">
        <!-- vertical link Tabs-->
        <section class="section-90 section-md-114 section-md-bottom-190">
          <div class="shell">
            <!-- Responsive-tabs-->
            <div class="responsive-tabs responsive-tabs-classic vertical" data-type="vertical">
              <ul class="resp-tabs-list tabs-1 text-center tabs-lg-collapsed" data-group="tabs-lg-collapsed">
                <li><a href="#undefined1"> Admission Requirements</a></li>
                <li><a href="#undefined2">Admission Schedule</a></li>
                <li><a href="#undefined3">Fees Structure</a></li>
                <li><a href="#undefined4">Scholarship</a></li>
                
              </ul>
             >
              <div class="resp-tabs-container text-sm-left tabs-lg-collapsed" data-group="tabs-lg-collapsed">
                <div>
                  <div class="inset-lg-left-60">
                    <h2 class="text-bold veil reveal-lg-block">Admission Requirements</h2>
                    <div class="hr divider bg-madison hr-sm-left-0 veil reveal-lg-block"></div>
                    <div class="offset-lg-top-60">
                      <p>All applicants will be required to appear in an entrance test and interview/group discussion held by SummerField University.</p>
                      <p>2 “E” grades in A-Level exam will not be entertained for accredited programs. i.e. LLB, BSCS, etc. (Conversion should be 50% and above)</p>
                      <p>Equivalency from Inter Board Committee of Chairmen (IBCC) is mandatory for O & A Levels/High School Diploma/IB Diploma or equivalent.</p>
                    <p>High School Diploma or International Baccalaureate (IB) students appearing for examination from Pakistan shall have to pass Islamiat, Pakistan Studies & Urdu.</p>
                    <p>Students waiting for results can also apply.</p>
                     <P>Admission of Foreign students are subject to clearance from the relevant Agencies/NoC from HEC.
                         </p>
                    </div>
                    <div class="offset-top-30"><img class="img-responsive reveal-inline-block" src="{%static 'images/academics-01-770x480.jpg' %}" width="770" height="480" alt=""></div>
                    <div class="offset-top-30">
                        <table style="width: 670.4px;" border="1">
                            <tbody>
                            <tr>
                            <td style="width: 252px;">
                            <p><strong>Programs</strong></p>
                            </td>
                            <td style="width: 401.4px;">
                            <p><strong>Requirements</strong></p>
                            </td>
                            </tr>
                            <tr>
                            <td style="width: 252px;">
                            <p><strong>BS Computer Science<br /> BS Media Science<br /></strong></p>
                            </td>
                            <td style="width: 401.4px;">
                            <p>For admission in the BABS/BS programs, the candidate must have completed O-Levels (minimum 8 subjects including 5 compulsory subjects; English, Urdu, Maths, Islamiat &amp; Pakistan Studies) and A-levels (minimum 3 Subjects)/ 12<sup>th</sup> Grade/ Intermediate with minimum 50% marks or equivalent from a recognized institution.</p>
                            <p>&nbsp;</p>
                            <p>For BS Computer Science, candidates with mathematical background will be preferred.</p>
                            </td>
                            </tr>
                            <tr>
                            <td style="width: 252px;">
                            <p><strong>BS Biosciences</strong></p>
                            <p><strong>BS Biotechnology</strong></p>
                            </td>
                            <td style="width: 401.4px;">
                            <p>Candidates are required to have 45% marks in Intermediate (FSc) or O-Levels (minimum 8 subjects including 5 compulsory subjects; English, Urdu, Maths, Islamiat &amp; Pakistan Studies) and A-levels (minimum 3 subjects in at least two subjects; Biology, Chemistry, and Physics).</p>
                            </td>
                            </tr>
                            <tr>
                            <td style="width: 252px;">
                            <p><strong>BE (Mechatronic Engineering)</strong></p>
                            </td>
                            <td style="width: 401.4px;">
                            <p>The candidate must have completed Intermediate (Pre-Engineering)/O-Levels (minimum 8 subjects including 5 compulsory subjects; English, Urdu, Maths, Islamiat &amp; Pakistan Studies) and A-levels (minimum 3 subjects) or equivalent with a combination of (Physics, Chemistry and Mathematics) with minimum 60% marks. Equivalency of grades for the candidates having Cambridge High School Certificate with Mathematics, Physics and Chemistry subjects are obtained as follow:</p>
                            <table border="1">
                            <tbody>
                            <tr>
                            <td width="150">
                            <p>A-Level Grade</p>
                            </td>
                            <td width="400">
                            <p>Equivalent Intermediate %</p>
                            </td>
                            </tr>
                            <tr>
                            <td width="150">
                            <p>A</p>
                            </td>
                            <td width="400">
                            <p>85</p>
                            </td>
                            </tr>
                            <tr>
                            <td width="150">
                            <p>B</p>
                            </td>
                            <td width="400">
                            <p>75</p>
                            </td>
                            </tr>
                            <tr>
                            <td width="150">
                            <p>C</p>
                            </td>
                            <td width="400">
                            <p>65</p>
                            </td>
                            </tr>
                            <tr>
                            <td width="150">
                            <p>D</p>
                            </td>
                            <td width="400">
                            <p>55</p>
                            </td>
                            </tr>
                            <tr>
                            <td width="150">
                            <p>E</p>
                            </td>
                            <td width="400">
                            <p>45</p>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                            <p>&nbsp;</p>
                            <p>Candidates with DAE (Mechanical/ Electronics/Electrical/ Instrumentation/Automation) having at least 60% aggregate marks from an institute recognized by the Government can also apply. Minimum 60% aggregate marks each in matriculation and in intermediate /equivalent exams.</p>
                            </td>
                            </tr>
                            
                            
                            <tr>
                            <td style="width: 252px;">
                            <p><strong>LLB</strong></p>
                            <p><strong>University of London (Recognized Teaching Centre)</strong></p>
                            <br />
                            
                            <br />
                            
                            
                            
                            
                            </td>
                            <td style="width: 401.4px;">
                            <p>To be eligible to register for the LLB, a student must normally be at least 17 years of age at the time of registration and have passes in:</p>
                            <p>&middot; Either two subjects at GCE A level, and at least three further subjects at GCSE or GCE O level (at not less than grade C)</p>
                            <p>&middot; Or Three subjects at GCE A level (with one A Level at not less than grade D)</p>
                            <p>&middot; Or Three subjects at GCE A level, and one further subject at GCSE or GCE O Level (at not less than grade C)</p>
                            <p>&middot; Or Two subjects at GCE A Level and two further subjects at AS Level.</p>
                            <p>&nbsp;</p>
                            <p><strong><em>Overlapping subjects in O Levels and in A Levels will not be counted</em></strong></p>
                            <p>&middot; Bachelor degree in any discipline (awarded by an institution acceptable to the University of London).</p>
                            <p>&middot; A 4-year bachelor degree (in any discipline) awarded by an institution acceptable to University of London may register for LLB degree under the Graduate Entry Route. Students who register via this route are only required to complete 9 courses (instead of 12) for the LLB degree.</p>
                            <p>&middot; A 2 year bachelor degree and a Master degree (in any disciplines) awarded by institutions acceptable to University of London may register for LLB degree under the Graduate Entry Route. Students who register via this route are only required to complete 9 courses (instead of 12) for the LLB degree.</p>
                            <p>&nbsp;</p>
                            <p>Tests of proficiency in English (provided this has been awarded within the past 3 years)</p>
                            <p>&nbsp;</p>
                            <p>&middot; International General Certificate of Secondary&nbsp;&nbsp; Education (IGCSE): English as a Second Language&nbsp;&nbsp; passed at grade C or above.</p>
                            <p>&middot; International English Language Testing System&nbsp;&nbsp; (IELTS) when an overall score of at least 6 is achieved with a minimum of 5.5 in each sub-test.</p>
                            </td>
                            </tr>
                            
                            
                            
                            </tbody>
                            </table>
                            <p><strong><u>&nbsp;</u></strong></p>
                            
                            <p><strong><u>Admission Test Alternates:</u></strong></p>
                            <p>&nbsp;</p>
                            <p>For Bachelors Programs Applicants may submit a minimum 1100/1600* score of SAT 1. The scoring of SAT 1 will be considered as follows;</p>
                            
                            <table border="1">
                            <tbody>
                            <tr style="height: 35px;">
                            <td style="height: 35px;" width="144">
                            <p>SAT Score</p>
                            </td>
                            <td style="height: 35px;" width="174">
                            <p>Test Marks (out of 60)</p>
                            </td>
                            </tr>
                            <tr style="height: 35px;">
                            <td style="height: 35px;" width="144">
                            <p>1500-1600</p>
                            </td>
                            <td style="height: 35px;" width="174">
                            <p>60</p>
                            </td>
                            </tr>
                            <tr style="height: 35px;">
                            <td style="height: 35px;" width="144">
                            <p>1400-1499</p>
                            </td>
                            <td style="height: 35px;" width="174">
                            <p>50</p>
                            </td>
                            </tr>
                            <tr style="height: 35px;">
                            <td style="height: 35px;" width="144">
                            <p>1300-1399</p>
                            </td>
                            <td style="height: 35px;" width="174">
                            <p>40</p>
                            </td>
                            </tr>
                            <tr style="height: 35px;">
                            <td style="height: 35px;" width="144">
                            <p>1200-1299</p>
                            </td>
                            <td style="height: 35px;" width="174">
                            <p>30</p>
                            </td>
                            </tr>
                            <tr style="height: 35.7333px;">
                            <td style="height: 35.7333px;" width="144">
                            <p>1100-1199</p>
                            </td>
                            <td style="height: 35.7333px;" width="174">
                            <p>20</p>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="inset-lg-left-60">
                    <h2 class="text-bold veil reveal-lg-block">Admission Schedule</h2>
                    <div class="hr divider bg-madison hr-sm-left-0 veil reveal-lg-block"></div>
                    <div class="offset-lg-top-60">
                      </div>
                    <div class="offset-top-30"><img class="img-responsive reveal-inline-block" src="{%static 'images/academics-02-770x480.jpg' %}" width="770" height="480" alt=""></div>
                    <div class="offset-top-30">
                      
                      <div class="text-subline"></div>
                      <div class="offset-top-20">
                        <ul class="list list-unstyled list-marked">
                          <h5>Admission Schedule - Fall 2020</h5>
                          

                          <table  style="width: 670.4px;" border="1" >
                            <tbody>
                            <tr>
                            <td style="width: 252px;">
                            <p><strong>Events</strong></p>
                            </td>
                            <td style="width: 401.4px;">
                            <p><strong>Date</strong></p>
                            </td>
                            </tr>
                            <tr>
                            <td style="width: 252px;">
                            <p><strong>  Admissions start<br /></strong></p>
                            </td>
                            <td style="width: 401.4px;">
                            <p>18th November 2019</p>
                            </td>
                            </tr>
                        
                            <tr>
                              <td style="width: 252px;">
                              <p><strong>Form Submission Deadline<br /></strong></p>
                              </td>
                              <td style="width: 401.4px;">
                              <p>10th July 2020</p>
                              </td>
                              </tr>
                              <tr>
                                <td style="width: 252px;">
                                <p><strong>Test Dates<br /></strong></p>
                                </td>
                                <td style="width: 401.4px;">
                                <p>05th August 2020

                                </p>
                                </td>
                                </tr>
                                <tr>
                                  <td style="width: 252px;">
                                  <p><strong>Announcement of Test Result<br /></strong></p>
                                  </td>
                                  <td style="width: 401.4px;">
                                  <p>14th August 2020</p>
                                  </td>
                                  </tr>
                                  <tr>
                                    <td style="width: 252px;">
                                    <p><strong>Interview Dates<br /></strong></p>
                                    </td>
                                    <td style="width: 401.4px;">
                                    <p>16th August 2020</p>
                                    </td>
                                    </tr>
                                    <tr>
                                      <td style="width: 252px;">
                                      <p><strong>  Orientation<br /></strong></p>
                                      </td>
                                      <td style="width: 401.4px;">
                                      <p>03th September 2020</p>
                                      </td>
                                      </tr>
                                      <tr>
                                        <td style="width: 252px;">
                                        <p><strong>Commencement of Classes<br /></strong></p>
                                        </td>
                                        <td style="width: 401.4px;">
                                        <p>05th Semptember 2020</p>
                                        </td>
                                        </tr>
                                                                                 
                          </tbody>
                            </table>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="inset-lg-left-60">
                    <h2 class="text-bold veil reveal-lg-block">Fees Structure</h2>
                    <div class="hr divider bg-madison hr-sm-left-0 veil reveal-lg-block"></div>
                    <div class="offset-lg-top-60">

                                <p class="acc_head">
                                    Fee structure for Regular Degree Programmes</p>
                                <div class="acc_body">
                                    <div class="accordiandesc">
                                        <div class="subcol-accordian">
                                            <p>
                                                Application processing fee for Bachelors / Masters / Doctoral
                                            </p>
                                        </div>
                                        <div class="subcol-accordian">
                                            <p>
                                                Rs. 1,500 (Pakistan nationals) / $45 (Foreign nationals)</p>
                                        </div>
                                        <div class="subcol-accordian">
                                            <p>
                                                Admission Fee
                                            </p>
                                        </div>
                                        <div class="subcol-accordian">
                                            <p>
                                                Rs. 20,000 (Pakistan nationals) / $500 (Foreign nationals) Admission Fee is payable
                                                once at the beginning of study.</p>
                                        </div>
                                        <div class="subcol-accordian">
                                            <p>
                                                Security Deposit Fee</p>
                                        </div>
                                        <div class="subcol-accordian">
                                            <p>
                                                Rs. 10,000 (Pakistan nationals) / $330 (Foreign nationals). Security Deposit Fee
                                                is payable once at the beginning of study and is refundable.</p>
                                        </div>
                                        <div class="subcol-accordian">
                                            <p>
                                                Student Activity Fee</p>
                                        </div>
                                        <div class="subcol-accordian">
                                            <p>
                                                Rs. 1,000 per semester (Pakistan nationals) / $30 per semester (Foreign nationals).</p>
                                        </div>
                                        </div>
                                </div>
                                
                                        
                      </div>
                    <div class="offset-top-30"><img class="img-responsive reveal-inline-block" src="{%static 'images/academics-04-770x480.jpg' %}" width="770" height="480" alt=""></div>
                    <div class="offset-top-30">
                    
                      <h5>Admission Schedule - Fall 2020</h5>
                     
                      <p>LLB Program</p>
                  </b>
              </div>
              <table border="1" width="100%" style="color: Black; font-size: 14px; text-align: center;
                  border-color: Black; border-collapse: collapse">
                  <tr style="font-bold: true; border: 1px solid black;">
                      <th style="width: 25%">
                      </th>
                      <th style="width: 25%">
                          For Pakistani Students
                      </th>
                      <th style="width: 25%">
                          For Foreign Students
                      </th>
                      <th style="width: 25%">
                          Remarks
                      </th>
                  </tr>
                  <tr>
                      <td style="text-align: center;">
                          Per Course
                      </td>
                      <td>
                          Rs. 19,500/-
                      </td>
                      <td>
                          US $ 435
                      </td>
                      <td>
                      </td>
                  </tr>
                  <tr>
                      <td style="text-align: center">
                          Per Semester
                      </td>
                      <td>
                          Rs. 117,000/-
                      </td>
                      <td>
                          US $ 2,610
                      </td>
                      <td>
                          6 Courses (Per Semester)
                      </td>
                  </tr>
              </table>
              <br />
                      
              <div class="subcol-accordian">
                  <b>
                      <p>
                          BS (Computer Science) Program</p>
                  </b>
              </div>
              <table border="1" width="100%" style="color: Black; font-size: 14px; text-align: center;
                  border-color: Black; border-collapse: collapse">
                  <tr style="font-bold: true; border: 1px solid black;" >
                      <th rowspan="2" style="width: 25%" >
                      </th>
                      <th colspan="3" style="width: 25%">
                          For Pakistani Students
                      </th>
                      <th colspan="3" style="width: 25%">
                          For Foreign Students
                      </th>
                      <th  rowspan="2" style="width: 25%">
                          Remarks
                      </th>
                  </tr>
                  <tr>
                      <th>
                          Gross Fee
                      </th>
                      <th>
                          Subsidy
                      </th>
                      <th>
                          Net Fee
                      </th>
                      <th>
                          Gross Fee
                      </th>
                      <th>
                          Subsidy
                      </th>
                      <th>
                          Net Fee
                      </th>
                  </tr>
                  <tr>
                      <th>
                          Per Course
                      </th>
                      <td>
                          Rs.19,200/-
                      </td>
                      <td>
                          5%
                      </td>
                      <td>
                          Rs.18,240/-
                      </td>
                      <td>
                          US $ 435
                      </td>
                      <td>
                          5%
                      </td>
                      <td>
                          US $ 413
                      </td>
                      <td>
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Per Semester
                      </th>
                      <td>
                          Rs. 102,400/-
                      </td>
                      <td>
                          5%
                      </td>
                      <td>
                          Rs.97,280/-
                      </td>
                      <td>
                          US $ 2,320
                      </td>
                      <td>
                          5%
                      </td>
                      <td>
                          US $ 2,204
                      </td>
                      <td>
                          16 Cr.Hours(Per Semester)
                      </td>
                  </tr>
              </table>
              <br />
              <div class="subcol-accordian">
              <b>
                  <p>
                      Bachelor of Media Science Program</p>
              </b>
          </div>
          <table border="1" width="100%" style="color: Black; font-size: 14px; text-align: center;
              border-color: Black; border-collapse: collapse">
              <tr style="font-bold: true; border: 1px solid black;">
                  <th rowspan="2" style="width: 25%">
                  </th>
                  <th colspan="3" style="width: 25%">
                      For Pakistani Students
                  </th>
                  <th colspan="3" style="width: 25%">
                      For Foreign Students
                  </th>
                  <th rowspan="2" style="width: 25%">
                      Remarks
                  </th>
              </tr>
              <tr>
                  <th>
                      Gross Fee
                  </th>
                  <th>
                      Subsidy
                  </th>
                  <th>
                      Net Fee
                  </th>
                  <th>
                      Gross Fee
                  </th>
                  <th>
                      Subsidy
                  </th>
                  <th>
                      Net Fee
                  </th>
              </tr>
              <tr>
                  <th>
                      Per Course
                  </th>
                  <td>
                      Rs.25,800/-
                  </td>
                  <td>
                      5%
                  </td>
                  <td>
                      Rs.24,510/-
                  </td>
                  <td>
                      US $ 600
                  </td>
                  <td>
                      5%
                  </td>
                  <td>
                      US $ 570
                  </td>
                  <td>
                  </td>
              </tr>
              <tr>
                  <th>
                      Per Semester
                  </th>
                  <td>
                      Rs. 154,800/-
                  </td>
                  <td>
                      5%
                  </td>
                  <td>
                      Rs.147,060/-
                  </td>
                  <td>
                      US $ 3,600
                  </td>
                  <td>
                      5%
                  </td>
                  <td>
                      US $ 3,420
                  </td>
                  <td>
                      6 Courses (Per Semester)
                  </td>
              </tr>
          </table>
<br>
          <div class="subcol-accordian">
              <b>
                  <p>
                      B.E (Mechatronic) Program</p>
              </b>
          </div>
          <table border="1" width="100%" style="color: Black; font-size: 14px; text-align: center;
              border-color: Black; border-collapse: collapse">
              <tr style="font-bold: true; border: 1px solid black;">
                  <th rowspan="2" style="width: 25%">
                  </th>
                  <th colspan="3" style="width: 25%">
                      For Pakistani Students
                  </th>
                  <th colspan="3" style="width: 25%">
                      For Foreign Students
                  </th>
                  <th rowspan="2" style="width: 25%">
                      Remarks
                  </th>
              </tr>
              <tr>
                  <th>
                      Gross Fee
                  </th>
                  <th>
                      Subsidy
                  </th>
                  <th>
                      Net Fee
                  </th>
                  <th>
                      Gross Fee
                  </th>
                  <th>
                      Subsidy
                  </th>
                  <th>
                      Net Fee
                  </th>
              </tr>
              <tr>
                  <th>
                      Per Course
                  </th>
                  <td>
                      Rs.17,400/-
                  </td>
                  <td>
                      5%
                  </td>
                  <td>
                      Rs.16,530/-
                  </td>
                  <td>
                      US $ 390
                  </td>
                  <td>
                      5%
                  </td>
                  <td>
                      US $ 371
                  </td>
                  <td>
                  </td>
              </tr>
              <tr>
                  <th>
                      Per Semester
                  </th>
                  <td>
                      Rs. 87,000/-
                  </td>
                  <td>
                      5%
                  </td>
                  <td>
                      Rs.82,650/-
                  </td>
                  <td>
                      US $ 1,950
                  </td>
                  <td>
                      5%
                  </td>
                  <td>
                      US $ 1,853
                  </td>
                  <td>
                      15 Cr.Hours(Per Semester)
                  </td>
              </tr>
          </table>
          <br />

                  </div>
                </div>
                <div>
                  <div class="inset-lg-left-60">
                    <h2 class="text-bold veil reveal-lg-block">Scholarship</h2>
                    <div class="hr divider bg-madison hr-sm-left-0 veil reveal-lg-block"></div>
                    <div class="offset-lg-top-60"><img class="img-responsive reveal-inline-block" src="{%static 'images/academics-05-770x480.jpg' %}" width="770" height="480" alt=""></div>
                    <div class="offset-top-30">
                      <p>As part of our social responsibility, SummerField University has developed a robust financial assistance program. Through this program, financial assistance is bifurcated in to Fee concession, and scholarships. </p>
                      
                          <p>Scholarships are offered through SummerField University resources and those in collaboration with external donor agencies. Below is the list of scholarship presently available at SZABIST.  </p>
                          
                          <h4><b>Computer Science</b></h4>
                          <ul>     
                              <li class="list1">SummerField University Need-Based Scholarship</li>
                              <li class="list1">SummerField University Merit-Based Scholarship</li>
                              <li class="list1">Chief Minister’s – SummerField University Merit and Need-Based Scholarship</li>
                        <li class="list1">Sindh Education Endowment Fund Scholarship</li> 
                              <li class="list1">Baluchistan Education Endowment Fund Scholarship</li>
                              <li class="list1">Ihsan Trust Interest Free Loan Facility</li>
                          </ul>
                          <div class="clear"></div>
                          
                          <h4><b>Media Science</b></h4>
                          <ul>     
                              <li class="list1">SummerField University Need-Based Scholarship</li>
                              <li class="list1">SummerField University Merit-Based Scholarship</li>
                              <li class="list1">Chief Minister’s – SummerField University Merit and Need-Based Scholarship</li>
                        <li class="list1">Ministry of Harmony and Interfaith Minority Scholarships</li>			
                              <li class="list1">Various community-based scholarships</li>
                          
                          </ul>
                          <h4><b>Mechatronics</b></h4>
                          <ul>     
                              <li class="list1">SummerField University Need-Based Scholarship</li>
                              <li class="list1">SummerField University Merit-Based Scholarship</li>
                              <li class="list1">Chief Minister’s – SummerField University Merit and Need-Based Scholarship</li>
                         <li class="list1">Sindh Education Endowment Fund Scholarship</li>
                              <li class="list1">Various community-based scholarships</li>
                          
                          </ul>
                          <h4><b>Education</b></h4>
                          <ul>     
                              <li class="list1">SummerField University Need-Based Scholarship</li>
                        <li class="list1">Baluchistan Education Endowment Fund Scholarship</li>
                        <li class="list1">HEC-Indigenous PhD 5000 Fellowship Program</li>
                        <li class="list1">Ihsan Trust Interest Free Loan Facility</li>			
                          </ul>
                          
                          <h4><b>Law</b></h4>
                          <ul>     
                              <li class="list1">Ihsan Trust Interest Free Loan Facility</li>
                              </ul>
                              <div class="clear"></div>
                              <p><br/>*To apply for a scholarship you must fulfill the eligibility criteria of the respective scholarship.</p>
                          
                          <div class="clear"></div>
                                  <p><br />All scholarships cover full or partial tuition fee, however, in some cases scholarships also cover books, boarding, transportation, monthly stipend and admission fee. 
                  <br /><br /> 
                    </div>
                    <!--<div class="offset-top-30"><a class="btn btn-primary" href="#">Choose a Program</a></div>-->
                  </div>
                </div>
                <div>
                  <div class="inset-lg-left-60">
                    <h2 class="text-bold veil reveal-lg-block">Non-Degree Offerings</h2>
                    <div class="hr divider bg-madison hr-sm-left-0 veil reveal-lg-block"></div>
                    <div class="offset-lg-top-60">
                      
                    </div>
                    <div class="offset-top-30"><img class="img-responsive reveal-inline-block" src="{%static 'images/academics-06-770x480.jpg' %}" width="770" height="480" alt=""></div>
                    <div class="offset-top-30">
                      <h6 class="text-bold">Summerfield Collage</h6>
                      <div class="text-subline"></div>
                      <div class="offset-top-20">
                        <p>Visit a class or take courses for credit without matriculating as a SummerField University undergraduate.</p>
                      </div>
                    </div>
                    <div class="offset-top-30">
                      <h6 class="text-bold">Graduate & Professional Schools</h6>
                      <div class="text-subline"></div>
                      <div class="offset-top-20">
                        <p>The schools of SFU offer non-degree programs ranging from research opportunities to continuing education.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="inset-lg-left-60">
                    <h2 class="text-bold veil reveal-lg-block">Online Learning</h2>
                    <div class="hr divider bg-madison hr-sm-left-0 veil reveal-lg-block"></div>
                    <div class="offset-lg-top-60">
                      <p>We explore online learning for a wide and global audience: from lifelong learners seeking to improve knowledge skills, to undergraduate and graduate students looking to supplement their current classes or take a class online for college credit, a certificate or a degree.</p>
                    </div>
                    <div class="offset-top-30"><img class="img-responsive reveal-inline-block" src="{%static 'images/academics-07-770x480.jpg' %}" width="770" height="480" alt=""></div>
                    <div class="offset-top-30">
                      <h6 class="text-bold">Programs List</h6>
                      <div class="text-subline"></div>
                      <div class="offset-top-20">
                        <ul class="list list-unstyled list-marked">
                          <li>BS (Accounting & Finance)</li>
                          <li>BS (Computer Science)</li>
                          <li>BE Mechatronic</li>
                          <li>BS (Social Sciences)</li>
                          <li>BS (Media Sciences)</li>
                          <li>BS Entrepreneurship</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Corporate footer-->
      <footer class="page-footer">
        <div class="shell-wide">
          <div class="hr bg-gray-light"></div>
        </div>
        <div class="shell section-60">
          <div class="range range-lg-justify range-xs-center">
            <div class="cell-md-3 cell-lg-2">
              <!--Footer brand--><a class="reveal-inline-block" href="index.html"><img width='170' height='172' src="{%static 'images/logo.png' %}" alt=''/>
                <div>
                  <h6 class="barnd-name text-bold offset-top-25"><h5 style="color: #5BBC2E;font-weight: bold;">Summer<span style="color: #000031;">Field</span></h5></h6>
                </div>
                <div>
                  <p class="brand-slogan text-gray text-italic font-accent">University</p>
                </div></a>
            </div>
            <div class="cell-xs-10 cell-md-5 cell-lg-4 text-lg-left offset-top-50 offset-md-top-0">
              <h6 class="text-bold">Contact us</h6>
              <div class="text-subline"></div>
              <div class="offset-top-30">
                <ul class="list-unstyled contact-info list">
                  <li>
                    <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                      <div class="unit-left"><span class="icon mdi mdi-phone text-middle icon-xs text-madison"></span></div>
                      <div class="unit-body"><a class="text-dark" href="tel:#">0900-78601,</a> <a class="reveal-block reveal-md-inline-block text-dark" href="tel:#">0900-35801</a>
                      </div>
                    </div>
                  </li>
                  <li class="offset-top-15">
                    <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                      <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle icon-xs text-madison"></span></div>
                    <div class="unit-body text-left"><a class="text-dark" href="https://www.google.com/maps/place/Federal+B+Area+Karachi,+Karachi+City,+Sindh,+Pakistan/@24.9345573,67.0301764,13z/data=!4m5!3m4!1s0x3eb33f68689fe4f9:0xcf5ef741e646eeff!8m2!3d24.9274729!4d67.0641265">ABC Road 75970 KHI PK</a></div>
                    </div>
                  </li>
                  <li class="offset-top-15">
                    <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                      <div class="unit-left"><span class="icon mdi mdi-email-open text-middle icon-xs text-madison"></span></div>
                      <div class="unit-body"><a href="mailto:#">nazim.mandviwala98@gmail.com</a></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="offset-top-15 text-left">
                <ul class="list-inline list-inline-xs list-inline-madison">
                  <li><a class="icon icon-xxs fa-facebook icon-circle icon-gray-light-filled" href="#"></a></li>
                  <li><a class="icon icon-xxs fa-twitter icon-circle icon-gray-light-filled" href="#"></a></li>
                  <li><a class="icon icon-xxs fa-google icon-circle icon-gray-light-filled" href="#"></a></li>
                  <li><a class="icon icon-xxs fa-instagram icon-circle icon-gray-light-filled" href="#"></a></li>
                </ul>
              </div>
            </div>
            <div class="cell-xs-10 cell-md-8 cell-lg-4 text-lg-left offset-top-50 offset-lg-top-0">
              <h6 class="text-bold">Newsletter</h6>
              <div class="text-subline"></div>
              <div class="offset-top-30 text-left">
                <p>Enter your email address to get the latest University news, special events and student activities delivered right to your inbox.</p>
              </div>
              <div class="offset-top-10">
                      <form class="rd-mailform form-subscribe" data-form-output="form-subscribe-footer" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                        <div class="form-group">
                          <div class="input-group input-group-sm">
                            <input class="form-control" placeholder="Your e-mail" type="email" name="email" data-constraints="@Required @Email"><span class="input-group-btn">
                              <button class="btn btn-sm btn-primary" type="submit">Subscribe</button></span>
                          </div>
                        </div>
                        <div class="form-output" id="form-subscribe-footer"></div>
                      </form>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-madison context-dark">
          <div class="shell text-md-left section-5">
            <p>&copy; <span id="copyright-year"></span> All Rights Reserved Terms of Use and <a href="privacy.html">Privacy Policy</a></p>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="{%static 'js/core.min.js' %}"></script>
    <script src="{%static 'js/script.js' %}"></script>
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>